<?xml version='1.0' encoding='utf-8'?>
<widget id="com.evothings.beaconfinder"
	version="0.2.0"
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BeaconFinder</name>
    <description>
        Estimote Beacon demo app.
    </description>
    <author email="mikael.kindborg@evothings.com" href="http://evothings.com">
        Mikael Kindborg
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
